body{
    background: black;
}
#a {
    background: rgb(24, 23, 23);
    text-align: center;
    color: whitesmoke;
    margin-top: 38%;
    margin-left: 43%;margin-right: 43%;
}
#b {
    background: rgb(255, 255, 255);
    text-align: center;
    margin-left: 45%;margin-right: 45%;
}