body{
    background: black;
}
#c {
    text-align: center;
    color: white;
    margin-top: 3%;
}
#d {
    text-align: center;
    margin-top: 15%;
}
#e {
    background: rgb(255, 255, 255);
    text-align: center;
    margin-top: 18%;
    margin-left: 45%;margin-right: 45%;
}